*{
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', sans-serif;
	
/*font-family: 'Italianno', cursive;
font-family: 'Roboto', sans-serif;


font-family: 'Italianno', cursive;
font-family: 'Roboto', sans-serif;

font-family: 'Italianno', cursive;
font-family: 'Roboto', sans-serif;*/
}

#section1{
    background-color: #073007;
    color: black;
    height: 40px;
    flood-color: #073007;
}
h1{
    margin-left: 948px;
    margin: right;
    height: 40px;
    background-color: rgb(209, 7, 7);
    color: black;
    background-attachment: fixed;
    
}
header{
    background-color: white;
    padding: 0% 0%;
    text-align: center;
}
 
.header{
	min-height: 100vh;
	width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/charity.jpg);
	
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150p;

}
.nav-link{
	flex: 1;
	text-align: right;

}
.nav-link ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-link ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;

}
.nav-link ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: grey;
	display: block;
	margin: auto;
	transition: 0.4s;
}
.nav-link ul li:hover::after{
	width: 100%;

}
.text-box{
	width: 90%;
	color: black;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}


.text-box h2{
	margin: 10px 0 40px;
	font-size: 24px;
	color: white;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: white;
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid rgb(0, 248, 103);
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;


}
.hero-btn:hover{
	border: 1px solid rgb(9, 129, 9);
	background: rgb(9, 129, 9);
	transition: 1s;

}
nav .fa{
	display: none;
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-link ul li{
		display: block ;
	}
	.nav-link {
		position: absolute;
		background: rgb(5, 58, 5);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;

	}
	nav .fa{
		display: block;
		color: red;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-link ul{
		padding: 30px;

	}
}

.section{

	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.row{
    display: flex;
	
	justify-content: end;

}
.section-col{
	flex-basis: 32% ;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;

}
.section-col img{
	width: 60%;
	height: 90%;
	display: block;
    border-radius: 10px;

}

/*.section-col img{
	width: 25%;
	height: 100%;
	display: block;

}
.row{
	
	display: flex;
	
	justify-content: end;

}
.service-col{
	flex-basis: 100%;
	background: white;
	border-radius: 10px;
	margin-bottom: 5%;
	
	box-sizing: border-box;
	text-align: center;
    justify-content: space-between;

}*/